{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>エラー</title>
        <meta charset="utf-8">
        <!-- CDN CSS(Karma CSS)
        https://karmacss.com/en/latest/installation.html -->
        <link rel="stylesheet" href="https://unpkg.com/karma-css@latest/dist/karma.min.css">

        <!-- static配下のCSSファイルを参照 -->
        <link rel="stylesheet"
        href="{% static 'css/todo.css' %}" >
    </head>
    <body>
        <div class="container">
            <h1>エラーが発生しました</h1>
        </div>
        <br>
        <h2><a href="{% url 'top:index' %}">topへ</a></h2>

    </body>
</html>